.container {
  padding: 0 2rem;
  text-align: center;
  overflow: hidden;
  /* justify-content: center; */
}
.div2{
  /* border: solid; */
  margin-right: 20%;
  margin-left: 20%;
}
.div1 p{
  font-size: larger;
  font-weight: bold;
}

.resultD{
  /* border: solid; */
  height: 80px;
  /* width: max-content; */
  cursor: text;
  margin: 1%;
  background-color: aqua;
  border-radius: 10px;
  /* border-bottom: 2px rgb(255, 255, 255); */
}
.input{
  border: none;
  outline: none;
  background-color: rgba(0, 255, 255, 0.021);
  font-size: 40px;
  height: 80px;
  width: 100%;
  text-align: right;
}

.Allbutton{
  border: solid rgb(0, 2, 98);
  text-align: center;
  margin: 5%;
  margin-left: 20.2%;
  background-color: rgb(81, 175, 243);
  /* color: rgb(0, 0, 0); */
   width: fit-content;
   /* box-shadow: 5px 2px 2px 5px rgb(102, 170, 230); */
}
.Allbutton button{
  /* border-top: 2px blue; */
  background-color: rgb(81, 175, 243);
  font-size: 40px;
  color: rgb(5, 6, 62);
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  border-radius: 50%;
  padding: 20px 50px;
  margin: 1px;
  cursor: pointer;
 }

 .Allbutton button:hover{
   background-color: rgb(201, 120, 255);
 }